body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    line-height: 1.6;
}
  
a{
    color:#cc1d98;
    text-decoration: none;
}
  
a:hover {
    color: #e478cd;
} 
  .btn {
    background-color: #cc1d98;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: #f2a5e1;
  }
  
  .top-bar {
    background-color: #ac378a;
    color: #deeaee;
    padding: 10px 0;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .top-bar .links a {
    margin: 5px 10px;
    color: #deeaee;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }

  .header .logo img {
    width: 150px;
  }
  
  .nav a {
    margin: 0 15px;
    font-size: 1.1rem;
    color: #cc1d98;
    font-weight: bold;
  }
  main {
    padding: 30px;
    background-color: #eb9cd4;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .feature-box {
    background-color: #fff;
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .feature-box h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #cc1d98;
  }
  
  .feature-box ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  }
  
  .feature-box ul li {
    margin-bottom: 10px;
    color: #666;
  }
  
  /* Content Section */
  .content-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .content-left, .content-right {
    flex: 1;
    margin: 0 10px;
  }
  
  .content-left h2, .content-right h2 {
    font-size: 25px;
    margin-left: 230px;
    margin-bottom: 20px;
    color: #f5f8fa;
  }
  
  .highlight-box {
    background-color: #df72f2;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .highlight-box h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  .content-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .content-item {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #7d168f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .content-item h4 {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #cc1d98;
  }
  
  .content-item span {
    display: block;
    margin-bottom: 10px;
    font-size: 0.8rem;
    color: #999;
  }
  
  .cta-section {
    display: flex;
    justify-content: space-between;
    background-color: #d17ce4;
    padding: 30px 0;
  }
  
  .cta-box {
    background-color: #fff;
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
    border: 1px solid #92a8d1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .cta-box img{
    width: 200px;
    align-items: center;
  }
  
  .cta-box h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #eea29a;
  }
  
  footer {
    background-color: #ac378a;
    color: #deeaee;
    padding: 20px 0;
    font-size: 0.9rem;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .footer-column {
    flex: 1;
    padding: 0 15px;
  }
  
  .footer-column h4 {
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: #deeaee;
  }
  
  .footer-column p, .footer-column address, .footer-column ul {
    color: #ccc;
    margin-bottom: 10px;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    color: #f8f4f7;
  }
  
  .footer-column ul li a:hover {
    color: #fd9fe2;
  }
  
  .social-media a {
    display: inline-block;
    margin-right: 10px;
    color: #f8f4f7;
  }
  
  .social-media a:hover {
    color: #fd9fe2;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
  }